.main{
  width: 100%;
  height: auto;
  background-color: #fff;
  padding-top: 1rem;
  margin: 0 auto;
}

.title{
  margin: 1rem auto; 
  font-size: 2rem;
  color: #f2b94c;
  text-align: center;
}

.item{
  background-color: #f5f5f5;
  border: 1px solid #333;
  margin-top: 1rem;
  display: flex;
  padding: 1rem 0.5rem;
}

.left{
  width: 30%;
  flex-direction: column;
  display: flex;
  justify-content: space-between;
  padding: 0.5rem 0.5rem;
}

.right{
  width: 70%;
  display: block;
}

.item-img{
  border-radius: 50%;
  width: 6.6rem;
  height: 6.6rem;
  object-fit: cover;
}

.promotion{
  font-size: 1.6rem;
  color: #f2b94c;
}

.promotion-value{
  color: red;
  font-size: 1.8rem;
}

.promotion-minimum{
  color: red;
}

.item-note{
  color: #333;
}

.promotion-btn{
  border: none;
  outline: none;
  color: #f2b94c;
  background-color: rgb(85, 22, 158);
  border-radius: 3px;
  margin-left: 40%;
  margin-top: 3rem;
  width: 6rem;
  height: 2.6rem;
}