@font-face {
  font-family: "OpenSans";
  src: url("../fonts/open-sans-v29-vietnamese-regular.eot");
  src: url("../fonts/open-sans-v29-vietnamese-regular.eot?#iefix") format("embedded-opentype"), url("../fonts/open-sans-v29-vietnamese-regular.woff") format("woff"), url("../fonts/open-sans-v29-vietnamese-regular.ttf") format("truetype"), url("../fonts/open-sans-v29-vietnamese-regular.svg#OpenSans") format("svg");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "OpenSans";
  src: url("../fonts/open-sans-v29-vietnamese-500.eot");
  src: url("../fonts/open-sans-v29-vietnamese-500.eot?#iefix") format("embedded-opentype"), url("../fonts/open-sans-v29-vietnamese-500.woff") format("woff"), url("../fonts/open-sans-v29-vietnamese-500.ttf") format("truetype"), url("../fonts/open-sans-v29-vietnamese-500.svg#OpenSans") format("svg");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "OpenSans";
  src: url("../fonts/open-sans-v29-vietnamese-600.eot");
  src: url("../fonts/open-sans-v29-vietnamese-600.eot?#iefix") format("embedded-opentype"), url("../fonts/open-sans-v29-vietnamese-600.woff") format("woff"), url("../fonts/open-sans-v29-vietnamese-600.ttf") format("truetype"), url("../fonts/open-sans-v29-vietnamese-600.svg#OpenSans") format("svg");
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: "OpenSans";
  src: url("../fonts/open-sans-v29-vietnamese-700.eot");
  src: url("../fonts/open-sans-v29-vietnamese-700.eot?#iefix") format("embedded-opentype"), url("../fonts/open-sans-v29-vietnamese-700.woff") format("woff"), url("../fonts/open-sans-v29-vietnamese-700.ttf") format("truetype"), url("../fonts/open-sans-v29-vietnamese-700.svg#OpenSans") format("svg");
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: "OpenSans";
  src: url("../fonts/open-sans-v29-vietnamese-700.eot");
  src: url("../fonts/open-sans-v29-vietnamese-700.eot?#iefix") format("embedded-opentype"), url("../fonts/open-sans-v29-vietnamese-700.woff") format("woff"), url("../fonts/open-sans-v29-vietnamese-700.ttf") format("truetype"), url("../fonts/open-sans-v29-vietnamese-700.svg#OpenSans") format("svg");
  font-weight: 400;
  font-style: italic;
}
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  outline: none;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  height: 101%;
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  line-height: 1;
  font-family: "OpenSans", sans-serif;
  margin: 0;
  padding: 0;
  color: #707070;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

strong {
  font-weight: bold;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

img {
  border: 0;
  max-width: 100%;
}

a:hover {
  text-decoration: none;
}

p {
  font-size: 1.6rem;
  line-height: 2.2rem;
  color: #707070;
}

.owl-dot:focus {
  outline: none;
}

@media (min-width: 1200px) {
  .container {
    max-width: 1200px;
  }
}
a:hover {
  color: #dd9825;
}

.owl-next:focus,
.owl-prev:focus {
  outline: none;
}

.top-bar {
  background-color: #fff;
  height: 3.7rem;
  border-bottom: 1px solid #ededed;
  display: flex;
  align-items: center;
}
.top-bar-contact {
  font-size: 1.2rem;
  line-height: 1.7rem;
  display: flex;
  align-items: center;
  gap: 2.5rem;
}
.top-bar-contact__item i {
  margin-right: 5px;
}
.top-bar .menu-lang {
  text-transform: capitalize;
  display: block;
  width: fit-content;
  margin-left: auto;
  position: relative;
  cursor: pointer;
}
.top-bar .menu-lang__value {
  font-size: 1.2rem;
  line-height: 1.7rem;
  display: flex;
  align-items: center;
  height: 3rem;
}
.top-bar .menu-lang__value::after {
  content: "\f0dd";
  font-family: "Font Awesome 5 Pro";
  font-weight: 700;
  margin-left: 0.2rem;
  font-size: 1.4rem;
}
.top-bar .menu-lang__item {
  display: block;
  position: absolute;
  right: 0;
  width: fit-content;
  top: 3rem;
  border: 1px solid #ebebeb;
  box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.1607843137);
  padding: 1.3rem 0.5rem;
  border-radius: 0.4rem;
  opacity: 0;
  visibility: hidden;
  background: #fff;
}
.top-bar .menu-lang__item::before {
  content: "";
  width: 0;
  height: 0;
  top: -8px;
  right: 22px;
  border-left: 8px solid transparent;
  border-right: 8px solid transparent;
  position: absolute;
  border-bottom: 8px solid #ebebeb;
}
.top-bar .menu-lang__item a {
  font-size: 1.2rem;
  line-height: 1.7rem;
  display: block;
  word-wrap: normal;
  min-width: 7.6rem;
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
  transition: all 0.3s ease;
}
.top-bar .menu-lang__item a:hover {
  background: #dd9825;
  color: #fff;
}
.top-bar .menu-lang:hover .menu-lang__item {
  opacity: 1;
  visibility: visible;
}

.header.stuck {
  -webkit-box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.15);
  box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.15);
  top: 0;
  position: fixed;
  left: 0;
  right: 0;
  margin: 0 auto;
  -webkit-animation: stuckMoveDown 0.6s;
  animation: stuckMoveDown 0.6s;
  z-index: 100;
  background: #fff;
}
.header-main {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 8.4rem;
  background: #fff;
}
.header-main--right {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.header-main--right .search-form {
  flex: 1;
  width: 100%;
  max-width: 51rem;
  position: relative;
}
.header-main--right .search-form__input {
  width: 100%;
  height: 4.4rem;
  border: 1px solid #e5e5e5;
  border-radius: 10px;
  padding: 1.1rem 2rem;
}
.header-main--right .search-form__button {
  border: none;
  position: absolute;
  right: 2rem;
  top: 50%;
  transform: translateY(-50%);
  background: #fff;
}
.header-main--right .header-account {
  display: flex;
  align-items: center;
  margin-left: 3rem;
}
.header-main--right .header-account .account-icon img {
  width: 4.4rem;
  height: 4.4rem;
  flex-shrink: 0;
}
.header-main--right .header-account .account-item {
  padding-left: 1rem;
}
.header-main--right .header-account .account-item__title {
  font-size: 1.6rem;
  line-height: 2.2rem;
  font-weight: 600;
  color: #000;
  margin-bottom: 0.5rem;
}
.header-main--right .header-account .account-item__user a {
  font-size: 1.2rem;
  line-height: 1.7rem;
  color: #000;
}
.header-main--right .header-cart {
  display: flex;
  align-items: center;
  margin-left: 3rem;
}
.header-main--right .header-cart .cart-icon i {
  width: 4.4rem;
  height: 4.4rem;
  flex-shrink: 0;
  font-size: 4rem;
  color: #000;
  display: inline-flex;
  align-items: flex-end;
}
.header-main--right .header-cart .cart-icon .cart-qty {
  width: 1.8rem;
  height: 1.8rem;
  line-height: 1.8rem;
  text-align: center;
  font-size: 1.4rem;
  color: #fff;
  border-radius: 50%;
  position: absolute;
  top: 0;
  right: 0;
  background: #dc0808;
}
.header-main--right .header-cart .cart-item {
  padding-left: 1rem;
}
.header-main--right .header-cart .cart-item__title {
  font-size: 1.6rem;
  line-height: 2.2rem;
  font-weight: 600;
  color: #000;
  margin-bottom: 0.5rem;
}
.header-main--right .header-cart .cart-item__price {
  font-size: 1.2rem;
  line-height: 1.7rem;
  color: #000;
}
.header-bottom {
  height: 4.9rem;
  background: #000;
}
.header-bottom .vertical-menu {
  width: 25.3rem;
  height: 4.9rem;
  flex-shrink: 0;
}
.header-bottom .vertical-menu-title {
  width: 100%;
  height: 100%;
  font-size: 1.4rem;
  line-height: 1.9rem;
  font-weight: 600;
  background-color: #dd9825;
  color: #fff;
  display: flex;
  align-items: center;
  padding: 0 1.5rem;
}
.header-bottom .vertical-menu-title::before {
  content: "\f0c9";
  font-family: "Font Awesome 5 Pro";
  margin-right: 1.8rem;
}
.header-bottom .header-nav {
  flex: 1;
}
.header-bottom .header-nav .menu {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  list-style: none;
  gap: 0 3rem;
  height: 100%;
}
@media screen and (max-width: 1023px) {
  .header-bottom .header-nav .menu {
    flex-direction: column;
    padding: 2rem 1.5rem;
    height: 100%;
    align-items: flex-start;
  }
}
@media screen and (max-width: 1023px) {
  .header-bottom .header-nav .menu-item {
    padding: 1rem 0;
  }
}
.header-bottom .header-nav .menu-item a {
  font-size: 1.4rem;
  line-height: 1.9rem;
  color: #fff;
  font-weight: 600;
  position: relative;
  transition: all 0.3s linear;
}
.header-bottom .header-nav .menu-item.active a {
  color: #dd9825;
}
.header-bottom .header-nav .menu-item a:hover {
  color: #dd9825;
}
.header-logo img {
  height: 4.4rem;
}
.header .menu-bars {
  font-size: 2rem;
}
@media (min-width: 1024px) {
  .header .menu-bars {
    display: none;
  }
}

@-webkit-keyframes stuckMoveDown {
  0% {
    -webkit-transform: translateY(-100%);
    transform: translateY(-100%);
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}
@keyframes stuckMoveDown {
  0% {
    -webkit-transform: translateY(-100%);
    transform: translateY(-100%);
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}

/*# sourceMappingURL=style.css.map */
